@import url('https://fonts.googleapis.com/css?family=Bungee|Kumar+One|Space+Mono');
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #000;
}

#star {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
}

#ast {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

#wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  width: 50%;
  height: 80%;
  margin: 0;
  padding: 10px;
  position: relative;
}

h1 {
  color: #fff;
  font-size: 200px;
  font-family: 'Kumar One', cursive;
}

h1.tc {
  display: inline;
}

h1.bar {
  position: absolute;
  right: 0;
  top: 0;
}

h1.four {
  position: absolute;
  bottom: -50px;
  right: 0;
}

.cont {
  color: #ddd;
  width: 60%;
  height: auto;
  font-family: 'Space Mono', monospace;
  position: absolute;
  left: 0;
  bottom: 0;
}

@media screen and (orientation: portrait) {
  .title {
    width: 90%;
    height: 90%;
  }
  h1 {
    font-size: 300px;
  }
  .cont p {
    font-size: 32px;
  }
}